<footer>
  <div>
    <p>If you have any doubt or any suggestions let me know my contacts are given below :) </p>
    <br>
    <div class="icons">
    <a href="https://www.facebook.com/chaitanya.giram.3/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/cs.giram/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/chaitanya-giram-80274b1aa/"> <i class="fab fa-linkedin"></i></a>
     
  
 
</footer>