 <container class="jay">

  <input type="checkbox" name="" class="btn1"/>
  <div class="nav">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="/sem4">Semester</a></li>
      <li><a href="/books">Books</a></li>
    </ol> 
    
    
    </a>     
  </div>

    </container>
