<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
     <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    {{>header}}
    <div class="books">
				<div class="single-book">
					<a href="#" class="single-book__img">
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Process Architecture</h4>
					<span class="single-book__price"><a href=" https://dl.flipkart.com/s/8CFOFpuuuN" target="_blank"><i class="fab fa-google"></i></a></span>
					<!-- star rating -->
					<div class="rating">
					</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Software Engineering</h4>
					<span class="single-book__price"><a href="https://www.flipkart.com/software-engineering-sppu-19-course-se-iv-comp-210253-computer-artificial-intelligence-data-science/p/itm30c1a3b0c2a8d?pid=9789390450411&lid=LSTBOK9789390450411EUJRDK&marketplace=FLIPKART&q=sppu+SE+IT+books&store=bks&srno=s_1_10&otracker=search&otracker1=search&fm=Search&iid=76100501-a4a2-4489-9132-f05c4caead2c.9789390450411.SEARCH&ppt=hp&ppn=homepage&ssid=1lsjbwbuq80000001644309844141&qH=d8f637eaa2cf28c5" target="_blank"><i class="fab fa-amazon" ></i></a></span>
					<!-- star rating -->
					<div class="rating">
						</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Engineering Mathematics 3</h4>
					<span class="single-book__price"><a href="https://www.amazon.in/ENGINEERING-MATHEMATICS-Dr-N-MUJUMDAR-ebook/dp/B07ZHF1TL6/ref=sr_1_4?crid=1HP8NOOHNK7RM&keywords=Second+year+Engineering+IT+sppu+books&qid=1644305361&s=books&sprefix=second+year+engineering+it+sppu+books%2Cstripbooks%2C272&sr=1-4" target="_blank"><i class="fab fa-amazon" aria-hidden="true"></a></i></span>
				</div>
       				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Database Management System</h4>
					<span class="single-book__price"><a href="https://www.flipkart.com/database-management-system-sppu-19-course-se-iv-214452/p/itm97c6552243166?pid=9789390450961&lid=LSTBOK97893904509616RFXZ2&marketplace=FLIPKART&q=sppu+SE+IT+books&store=bks&srno=s_1_16&otracker=search&otracker1=search&fm=Search&iid=0fb31237-dd21-48d0-b4a2-a7faa6ecd3c1.9789390450961.SEARCH&ppt=hp&ppn=homepage&ssid=2nl7qpgj1s0000001644430558232&qH=d8f637eaa2cf28c5" target="_blank"><i class="fab fa-google"></i></a></span>
				</div>
			</div>
			
		</div>
		<section>
			<a href="book" style="justify-content: left;">View More</a>

	   </section>
    
</body>
{{>footer}}
</html>