<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    {{>header}}
     <div class="books">
				<div class="single-book">
					<a href="#" class="single-book__img">
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Discrete Mathematics</h4>
					<span class="single-book__price"><a href="https://www.academia.edu/26410650/Elements_of_discrete_mathematics_Liu_C_L_" target="_blank"><i class="fab fa-google"></i></a></span>
					<!-- star rating -->
					<div class="rating">
					</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Data Structure</h4>
					<span class="single-book__price"><a href="https://docs.google.com/document/d/1R38lei57HadOAPkVbb5VIE3bFWNV1IciTVhSzW3euos/edit?usp=sharing" target="_blank"><i class="fab fa-google" ></i></a></span>
					<!-- star rating -->
					<div class="rating">
						</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">C++ by balaguruswamy ebook</h4>
					<span class="single-book__price"><a href="https://docs.google.com/document/d/1KMS4V3A3XS4iBdT-ZFPYIJRZFWojaLJ6LbU_3OGKwH0/edit?usp=sharing" target="_blank"><i class="fab fa-google"></i></a></span>
				</div>
       				<div class="single-book">
					<a href="#" class="single-book__img">
						
						<div class="single-book_download">
							<img src="./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Computer Networks Book</h4>
					<span class="single-book__price"><a href="https://docs.google.com/document/d/1CIwh3AMhO8Ofjkd1ZqdKSd_XhX4HfiIYKP0vpKkeHHk/edit?usp=sharing" target="_blank"><i class="fab fa-google"></i></a></span>
				</div>
			</div>
			
		</div>

    
</body>
{{>footer}}
</html>