<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<script>
      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citie(evt1, cityName1) {
  // Declare all variables
  var i, tabcontent1, tablinks1;

  // Get all elements with class="tabcontent" and hide them
  tabcontent1 = document.getElementsByClassName("tabcontent1");
  for (i = 0; i < tabcontent1.length; i++) {
    tabcontent1[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks1 = document.getElementsByClassName("tablinks1");
  for (i = 0; i < tablinks1.length; i++) {
    tablinks1[i].className = tablinks1[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName1).style.display = "block";
  evt1.currentTarget.className += " active";
}
function opeCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent2, tablinks2;

  // Get all elements with class="tabcontent" and hide them
  tabcontent2 = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent2.length; i++) {
    tabcontent2[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks2 = document.getElementsByClassName("tablinks2");
  for (i = 0; i < tablinks2.length; i++) {
    tablinks2[i].className = tablinks2[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citi(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent3, tablinks3;

  // Get all elements with class="tabcontent" and hide them
  tabcontent3 = document.getElementsByClassName("tabcontent3");
  for (i = 0; i < tabcontent3.length; i++) {
    tabcontent3[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks3 = document.getElementsByClassName("tablinks3");
  for (i = 0; i < tablinks3.length; i++) {
    tablinks3[i].className = tablinks3[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
function City(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent4, tablinks4;

  // Get all elements with class="tabcontent" and hide them
  tabcontent4 = document.getElementsByClassName("tabcontent4");
  for (i = 0; i < tabcontent4.length; i++) {
    tabcontent4[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks4 = document.getElementsByClassName("tablinks4");
  for (i = 0; i < tablinks4.length; i++) {
    tablinks4[i].className = tablinks4[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//for tab5
function Cities(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent5, tablinks5;

  // Get all elements with class="tabcontent" and hide them
  tabcontent5 = document.getElementsByClassName("tabcontent5");
  for (i = 0; i < tabcontent5.length; i++) {
    tabcontent5[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks5 = document.getElementsByClassName("tablinks5");
  for (i = 0; i < tablinks5.length; i++) {
    tablinks5[i].className = tablinks5[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//
//tab 6
function Citiess(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent6, tablinks6;

  // Get all elements with class="tabcontent" and hide them
  tabcontent6 = document.getElementsByClassName("tabcontent6");
  for (i = 0; i < tabcontent6.length; i++) {
    tabcontent6[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks6 = document.getElementsByClassName("tablinks6");
  for (i = 0; i < tablinks6.length; i++) {
    tablinks6[i].className = tablinks6[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}


const clc=document.querySelector(".cancel");
const arr=document.querySelector(".arr_container");
const left_container=document.querySelector(".left_container");
arr.addEventListener("click",()=>{
  arr.classList.add("active_arr");
  if(left_container.classList.contains("off")){
    left_container.classList.contains("off");
    left_container.classList.add("active");
  }
});
clc.addEventListener("click",()=>{
  arr.classList.remove("active_arr");
  if(left_container.classList.contains("active")){
    left_container.classList.remove("active");
    left_container.classList.add("off");
  }
});
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</head>
<body bgcolor="#A9BABB">
  {{>header}}
  <div class="glow" allign="center" style="background-image: url('images/background9.jpg');background-repeat:no-repeat;background-size:100% 100%">
    <h1><b>Assignment Website</b></h1>
    <p>Sppu Second Year Engineering</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>Only SE IT sources available<h5>
    <br>
    <br>
    
</div>
</div>
   
      <table width="100%" border="1px" border-color="whitesmoke">
        <tr>
          <td>
    <div class="vertical-menu" >
      <a href="#" class="active"><abbr title="Defitions">Subjects</abbr></a>
                                <button class="tablinks" onclick="openCity(event, 'London')">DM</button>
                                <button class="tablinks" onclick="openCity(event, 'Paris')">DSA</button>
                                <button class="tablinks" onclick="openCity(event, 'Tokyo')">OOP</button>
                                <button class="tablinks" onclick="openCity(event, 'Mumbai')">LDCO</button>
                                <button class="tablinks" onclick="openCity(event, 'Pune')">BCN</button>
                                
      </div>
      <div id="London" class="tabcontent">
        <h3>DM</h3>
        <p>Study of mathematical structures that are fundamentally discrete .</p>
      </div>
      
      <div id="Paris" class="tabcontent">
        <h3>DSA</h3>
        <p>Named location that can be used to store and organize data & collection of steps to solve a particular problem.</p>
      </div>
      
      <div id="Tokyo" class="tabcontent">
        <h3>OOP</h3>
        <p>Computer programs using "objects" to stand for data and methods.</p>
      </div>
      <div id="Mumbai" class="tabcontent">
        <h3>LDCO</h3>
        <p>Basic organization of the circuitry of a digital computer & a set of rules and methods that describe the functionality, organization, and implementation of computer systems.</p>
      </div>
      <div id="Pune" class="tabcontent">
        <h3>BCN</h3>
        <p>group of two or more interconnected computer systems & establishment a network connection using either cable or wireless media.</p>
      </div>
      </td></tr>
    </table>
        
    <table width="100%" height="200" border="0" cellspacing="0" cellpadding="0" style="background-image: url('background4.jpg');">
        <tr>
            <td height="72" align="center" valign="top">
                <br>
                <font color="white" size="5" face="verdana, Geneva, Sans-serif"><a href="https://forms.gle/n5tb5M1weVmuxtgeA" target="_blank"><strong>   Register for updates</strong></a></font><br>
            </td>
        </tr>
    </table>
    <div class="wrapper">
  <div class="blog_post" id="sem3">
    <div class="img_pod">
      <abbr title="Semester 3"><img src="images/Sem3.jpg" alt="random image"></abbr>
    </div>
    <div class="container_copy">
      <h3>Second Year</h3>
      <h1>Semester Third</h1>
      <p>One of the easy sem,DSA and OOP are needed to be on fingertips.</p>
    </div>
    <a class="btn_primary" href='/sem3'>Read More</a>
  </div>
  </div>

  <br>
   <div class="wrapper">
  <div class="blog_post" id="sem4">
    <div class="img_pod">
      <img src="images/sem4.jpg" alt="random image">
    </div>
    <div class="container_copy">
      <h3>Second Year</h3>
      <h1>Semester Fourth</h1>
      <p>Neither easy nor difficult,but definitely scoring subjects are there.</p>
    </div>
    <br>
    <a class="btn_primary" href='/sem4'>Read More</a>
  </div>
</div>
  <br>
  

  <div class="icons" id="krishna" style="text-align:center">
    <h1>Youtube links</h1>
    <a href="youtubelinks" class="dot"><abbr title="Youtube links"><i class="fab fa-youtube" style="color:black"></i></abbr></a>
    </div>
<br>


  <p>After you done with reading use "x" symbol to close the message.</p>
<div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>Reminder!</strong> Your DSA concepts must be crystal clear.
</div>

<div class="alert success">
  <span class="closebtn">&times;</span>  
  <strong>Suggestion!</strong> Try to invest time rather than wasting.
</div>

<div class="alert info">
  <span class="closebtn">&times;</span>  
  <strong>Info!</strong> DS and OOP will might be key factors.
</div>

<div class="alert warning">
  <span class="closebtn">&times;</span>  
  <strong>Think!</strong> Do value of time,beacuse time is present for you.
</div>
<script>
  var close = document.getElementsByClassName("closebtn");
  var i;
  
  for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
      var div = this.parentElement;
      div.style.opacity = "0";
      setTimeout(function(){ div.style.display = "none"; }, 600);
    }
  }
  </script>
<br>

</body>
{{>footer}}
</html>