<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester3</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script>
      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citie(evt1, cityName1) {
  // Declare all variables
  var i, tabcontent1, tablinks1;

  // Get all elements with class="tabcontent" and hide them
  tabcontent1 = document.getElementsByClassName("tabcontent1");
  for (i = 0; i < tabcontent1.length; i++) {
    tabcontent1[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks1 = document.getElementsByClassName("tablinks1");
  for (i = 0; i < tablinks1.length; i++) {
    tablinks1[i].className = tablinks1[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName1).style.display = "block";
  evt1.currentTarget.className += " active";
}
function opeCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent2, tablinks2;

  // Get all elements with class="tabcontent" and hide them
  tabcontent2 = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent2.length; i++) {
    tabcontent2[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks2 = document.getElementsByClassName("tablinks2");
  for (i = 0; i < tablinks2.length; i++) {
    tablinks2[i].className = tablinks2[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citi(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent3, tablinks3;

  // Get all elements with class="tabcontent" and hide them
  tabcontent3 = document.getElementsByClassName("tabcontent3");
  for (i = 0; i < tabcontent3.length; i++) {
    tabcontent3[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks3 = document.getElementsByClassName("tablinks3");
  for (i = 0; i < tablinks3.length; i++) {
    tablinks3[i].className = tablinks3[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
function City(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent4, tablinks4;

  // Get all elements with class="tabcontent" and hide them
  tabcontent4 = document.getElementsByClassName("tabcontent4");
  for (i = 0; i < tabcontent4.length; i++) {
    tabcontent4[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks4 = document.getElementsByClassName("tablinks4");
  for (i = 0; i < tablinks4.length; i++) {
    tablinks4[i].className = tablinks4[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//for tab5
function Cities(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent5, tablinks5;

  // Get all elements with class="tabcontent" and hide them
  tabcontent5 = document.getElementsByClassName("tabcontent5");
  for (i = 0; i < tabcontent5.length; i++) {
    tabcontent5[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks5 = document.getElementsByClassName("tablinks5");
  for (i = 0; i < tablinks5.length; i++) {
    tablinks5[i].className = tablinks5[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//
//tab 6
function Citiess(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent6, tablinks6;

  // Get all elements with class="tabcontent" and hide them
  tabcontent6 = document.getElementsByClassName("tabcontent6");
  for (i = 0; i < tabcontent6.length; i++) {
    tabcontent6[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks6 = document.getElementsByClassName("tablinks6");
  for (i = 0; i < tablinks6.length; i++) {
    tablinks6[i].className = tablinks6[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}


const clc=document.querySelector(".cancel");
const arr=document.querySelector(".arr_container");
const left_container=document.querySelector(".left_container");
arr.addEventListener("click",()=>{
  arr.classList.add("active_arr");
  if(left_container.classList.contains("off")){
    left_container.classList.contains("off");
    left_container.classList.add("active");
  }
});
clc.addEventListener("click",()=>{
  arr.classList.remove("active_arr");
  if(left_container.classList.contains("active")){
    left_container.classList.remove("active");
    left_container.classList.add("off");
  }
});
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{{>header}}
</head>

<body class="semiiise">
    
    <table width="100%" height="275" style="background-image: url('backf.gif');" class="dm">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="DM"><a  class="active"><b>DM</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab1">
                            <ul> <li><button class="tablinks1" onclick="Citie(event, 'Kaij')">Unit1</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'latur')">Unit2</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Bhor')">Unit3</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Kalamb')">Unit4</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Bid')">Unit5</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Cid')">Unit6</button></li>
                             </ul>
                           </div>
                          
                           <!-- Tab content -->
                           <div id="Kaij" class="tabcontent1">
                             <h3>Unit 1</h3>
                             <a href="https://docs.google.com/document/d/144PeA2G-PwWVfVmySmthgh1kbhRjpAmBBwLsl2MGwPY/edit?usp=sharing" target="_blank">Tutorial 1</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1fjVz1buxNqAG8R3iygstnxBAIx1i-B45ejlB8vQtYpI/edit?usp=sharing" target="_blank">Tutorial 2</a>
                             <p>But check out questions are same or not</p>
                           </div>
                           
                           <div id="latur" class="tabcontent1">
                             <h3>Unit 2</h3>
                             <a href="https://docs.google.com/document/d/1NEOu41xDdOY4vmjOs-_63NO6BiwWzn0ynov30NwE4KI/edit?usp=sharing" target="_blank">Tutorial 3</a>
                             
                             <a href="https://docs.google.com/document/d/14tkcUHY24wloK_awARU-I6f-6Nsx2Jsq6NlxNzOU3Y0/edit?usp=sharing" target="_blank">Tutorial 4</a>
                             <p>But check out questions are same or not</p>
                           </div>
                           
                           <div id="Bhor" class="tabcontent1">
                             <h3>Unit 3</h3>
                             <a href="https://docs.google.com/document/d/1ps8aQNcbBQlRtXf7m3RzyWq8b5QCM5YkHulcmS32YkE/edit?usp=sharing" target="_blank">Tutorial 5&6</a>
                             <p>But check out questions are same or not</p>
                           </div>
                           <div id="Kalamb" class="tabcontent1">
                             <h3>Unit 4</h3>
                             <a href="https://docs.google.com/document/d/1ANI4c62kwpbUMXXDv4QdN2Up46ks_LrkDN296GjQbTc/edit?usp=sharing" target="_blank">Tutorial 7&8</a>
                             <p>But check out questions are same or not.</p>
                           </div>
                           <div id="Bid" class="tabcontent1">
                             <h3>Unit 5</h3>
                             <a href="https://docs.google.com/document/d/11DX4wUDMnX1kw_Z5qts706M0PwdwgZw49ur1OD7w9xg/edit?usp=sharing" target="_blank">Tutorial 9&10(Tutorial on Introduction to Number Theory)</a>
                             <p>But check out questions are same or not</p>
                           </div>
                           <div id="Cid" class="tabcontent1">
                             <h3>Unit 6</h3>
                             <a href="https://docs.google.com/document/d/1LqVZ-jxkju2rN2_xNe0GH54W89zwtTzeotVQsjPn2wY/edit?usp=sharing" target="_blank">Tutorial 11&12</a>
                             <p>But check out questions are same or not</p>
                           </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="dsa">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="DSA"><a  class="active"><b>DSA</b></a></td></tr>
                    <tr>
                        <td>
                            <div class="tab3">
                               <ul> <li><button class="tablinks3" onclick="Citi(event, 'Abad')">Unit1</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Obad')">Unit2</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Sgar')">Unit3</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Kgaon')">Unit4</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Kid')">Unit5</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Tid')">Unit6</button></li>
                                </ul>
                              </div>
                              
                              <!-- Tab content -->
                              <div id="Abad" class="tabcontent3">
                                <h3>Unit 1</h3>
                                <a href="https://docs.google.com/document/d/1URE_alKeF7fK50YT0kZLU5OMfhrIQLKCYKishQAFduc/edit?usp=sharing" target="_blank">Lab Assignment 1 Code</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1jQB_Zi2cRVJR6hUjBb8NEyLa0mFE3lKA79M6Dz7GDWE/edit?usp=sharing" target="_blank">Lab Asssignment 1 Write Up</a>
                              </div>
                              
                              <div id="Obad" class="tabcontent3">
                                <h3>Unit 2</h3>
                                <a href="https://docs.google.com/document/d/1fjrsrUFA6FRxGvBW9tjJkeO1SH08-_jSuirVcZSFfVg/edit?usp=sharing" target="_blank">Lab assignment 2 code</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1wwKUgbgHreltFlZotPEgoY9Pm2UvndMIjU-aAsdORBs/edit?usp=sharing" target="_blank">Lab Assignment 2 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1x6T_fCjvGmAJBf_7cWscIHJbALGl3-rEhYiV2DZUJI4/edit?usp=sharing" target="_blank">Lab Assgnment 3 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1fnHuYeThg6bID9xoPMFsfoImDRSRfo8Q-3jwlkxT_Xs/edit?usp=sharing" target="_blank">Lab Assignment 3 Code</a>
                              </div>
                              
                              <div id="Sgar" class="tabcontent3">
                                <h3>Unit 3</h3>
                                <a href="https://docs.google.com/document/d/1fwn29irwoLJJMlvmzEfoYclQdvuNt-2fQOTU4qQP7zc/edit?usp=sharing" target="_blank">Lab Assignment 4 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1H10f1Pc6Nd4S_AIg9Y_hpOg6emfWM8nWTELpj5XTpEs/edit?usp=sharing" target="_blank">Lab Assignment 4 Code</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1two01GfXGKOXSP2xIGJfLbVWEqEQcEDBln7RymYy7oE/edit?usp=sharing" target="_blank">Lab Assignment 5 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1aYS0cRvnK63naSeEwuXGpZ42ypcto3J4nUO3H_bERWE/edit?usp=sharing" target="_blank">Lab Assignment 5 Code</a>
                              </div>
                              <div id="Kgaon" class="tabcontent3">
                                <h3>Unit 4</h3>
                                <a href="https://docs.google.com/document/d/1Mp8lCVIhMjUxjHCaIiqbWE9Lmo1EKLHMk8QG6YPoZLM/edit?usp=sharing" target="_blank">Lab Assignment 6 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/13javTzsLP_9Quvo_C02AUty4qWZdkcfhnxSHVPA_YtA/edit?usp=sharing" taret="_blank">Lab Assignment 6 Code</a>
                                <br>                                
                                <a href="https://docs.google.com/document/d/1iNYvSChOOeeOBr8LCGLj9ZiDL0QsCyQv5qBwOpHXDh8/edit?usp=sharing" target="_blank">Lab Assignment 7 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1D0UJbF13dseay3_5h9lOLZoi0pl_ZLmkc98viwEKlJc/edit?usp=sharing" target="_blank">Lab Assignment 7 Code</a>
                              </div>
                              <div id="Kid" class="tabcontent3">
                                <h3>Unit 5</h3>
                                <a href="https://docs.google.com/document/d/1uPf-G0nt29Zfrv7n4aUQRBjRcXl-JSvbO3NjuhPWalo/edit?usp=sharing" target="_blank">Lab Assignment 8 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1pDq2dVIqNiHLLkIK8EIDEVzk9syClu69W4bgeZpR2Fk/edit?usp=sharing" target="_blank">Lab Assignment 8 Code</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1s9Nf-26MVQM3KYopl-Dcvsr5S0wv6_R86s3za1ifxrM/edit?usp=sharing" target="_blank">Lab Assignment 9 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1PDPq5a3cQRlI8jRMsaXKHqvKEMxsK_ACEmvLrVc7mCg/edit?usp=sharing" target="_blank">Lab Assignment 9 Code</a>
                              </div>
                              <div id="Tid" class="tabcontent3">
                                <h3>Unit 6</h3>
                                <a href="https://docs.google.com/document/d/16kPjQQ3bG0wzTxCDxJ1ZmW3x_3NiNiV0YMayevoRNQY/edit?usp=sharing" target="_blank">Lab Assignment 10 Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1OanC7WaejyQ4N5TchVDyObl04Go9qgaa65KmZ-TTLoM/edit?usp=sharing" target="_blank">Lab Assignment 10 Code</a>
                              </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('back3.gif');" class="oop">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="OOP"><a  class="active"><b>OOP</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab4">
                            <ul> <li><button class="tablinks4" onclick="City(event, 'sem')">Unit1</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'chem')">Unit2</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'phy')">Unit3</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'math')">Unit4</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'sme')">Unit5</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'em')">Unit6</button></li>
                             </ul>
                           </div>
                            <!-- Tab content -->
                            <div id="sem" class="tabcontent4">
                              <h3>Unit 1</h3>
                              <a href="https://docs.google.com/document/d/1AylaiHcJmdSTOl3AvFou9GePRtFip2VfvdN8DSeOIzg/edit?usp=sharing" target="_blank">Lab Assignment 1 Code & Writeup </a>
                            </div>
                            
                            <div id="chem" class="tabcontent4">
                              <h3>Unit 2</h3>
                              <a href="https://docs.google.com/document/d/157rHujlpr7v1B1FLDyi2yFD2rSjKxFemqvKxtqU-8T4/edit?usp=sharing" target="_blank">Lab Assignment 2 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/14a1mpcaJNf90979CAFEpI3UG599laOA0He1hQ3y-x7k/edit?usp=sharing" target="_blank">Lab Assignment 2 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1BddEv4-aooSLIfJwFM8OHx3nJucFJWL2XAH50mWaFLM/edit?usp=sharing" target="_blank">Lab Assinment 3 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1HKZVJnzYeJkHDfPX47L1S5OTr2omIH7QX_zBgIgOIso/edit?usp=sharing" target="_blank">Lab Assignment 3 Writeup</a>
                            </div>
                            
                            <div id="phy" class="tabcontent4">
                              <h3>Unit 3</h3>
                              <a href="https://docs.google.com/document/d/10Zs9BZmJa0aLF-fuOJOmtY44dyXA-bpaB90wXsxD51o/edit?usp=sharing" target="_blank">Lab Assignment 4 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1H8sJwXFmX7ahoC3AndzAxLYHUKvx1G6UAhm5FxGTvhw/edit?usp=sharing" target="_blank">Lab Assignment 4 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1BH0ng_yC9CAMkHstOy4L6VaopbENoVt91HHqba8AwUc/edit?usp=sharing" target="_blank">Lab Assignment 5 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1x7mMhyBrU7frFoFxcGgVGfISMp4QCfNTwXfGO6V7jqw/edit?usp=sharing" target="_blank">Lab Assignment 5 Code</a>                           
                            </div>
                            <div id="math" class="tabcontent4">
                              <h3>Unit 4</h3>
                              <a href="https://docs.google.com/document/d/1GqZQ7fLh0uijCyWQkpCkc1XVy7nS806xmbNqKQ_e1tk/edit?usp=sharing" target="_blank">Lab assignment 6 writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1cnbtKi030yFVqWNgqL4rfxdNDrK06XnwC74ezDqIUPE/edit?usp=sharing" target="_blank">Lab Assignment 6 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1kEeeKJAoaer860qH5zdq6lx-T3aMfspmNMzNma-u2L8/edit?usp=sharing" target="_blank">Lab Asssignment 7 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1fsfQwUhXA82wwTaP2U4jqmHo2tBXKFpNFE2OWN686o0/edit?usp=sharing" target="_blank">Lab Assignment 7 Code</a>
                            </div>
                            <div id="sme" class="tabcontent4">
                              <h3>Unit 5</h3>
                             
                              <a href="https://docs.google.com/document/d/1o4fFDGoy-5RTQEYSS9GHYcjPyAVSpHefS5TDKA_4HYc/edit?usp=sharing" target="_blank">Lab Assignment 8 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1P_BEl_ZhSCtQMEzXk_sLBJNEUOwCtqR5rp_EdIs4LCI/edit?usp=sharing" target="_blank">Lab Assignment 8 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1VtxtFG8WZD2St6Bb2nQmTsT_3P0MtdntDjLV5mNOMAI/edit?usp=sharing" target="_blank">Lab Assignment 9 Code</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1mqoEEMHHmZ39XLOiVDOUlU0-VLD-xax63a-8nCO8Qlk/edit?usp=sharing" target="_blank">Lab Assignment 10 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/17bBBIAJmasWFOGmqLVH39pF9_WzfIFX7LKpzz1EKZLw/edit?usp=sharing" target="_blank">Lab Assignment 10 code</a>
                            </div>
                            <div id="em" class="tabcontent4">
                              <h3>Unit 6</h3>
                              <a href="https://docs.google.com/document/d/1bF5IJ3dGtSZm970tTbHr4FGynuXDp9at87M46ZPe2Lc/edit?usp=sharing" target="_blank">Lab Assignment 11 Writeup</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1ART0aDYFx41HX6cnHHZW0zTTexZ6LPH990Tjvl96a1k/edit?usp=sharing" target="_blank">Lab assignment 11 Code</a>
                            </div>
                        
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>                
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="ldco">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="LDCO"><a  class="active"><b>LDCO</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab5">
                            <ul> <li><button class="tablinks5" onclick="Cities(event, 'sim')">Unit1</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'dim')">Unit2</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'kim')">Unit3</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'mim')">Unit4</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'rim')">Unit5</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'bim')">Unit6</button></li>
                             </ul>
                           </div>
                           <!-- Tab content -->
                           <div id="sim" class="tabcontent5">
                            <h3>Unit 1</h3>
                            <a href="https://docs.google.com/document/d/1LaX1X7Zq4NJ-D10LXBsxwJYJ-tgcmbSchhzvb0iVDNg/edit?usp=sharing" target="_blank">Code Converter Assignment</a>
                            <br>
                          </div>
                          
                          <div id="dim" class="tabcontent5">
                            <h3>Unit 2</h3>
                            <a href="https://docs.google.com/document/d/1MGOaKSsJPcTAxwAtqEkL9iSOO5zaKE67h44NNh3tfY8/edit?usp=sharing" target="_blank">Multiplexer Assignment</a>
                            <br>
                            <a href="https://docs.google.com/document/d/1hAMvZRzdIH962J9s2V9niwfaTr7CO1PAFDPbdR9s-AE/edit?usp=sharing" target="_blank">Demultiplexer Assigment</a>
                          </div>
                          
                          <div id="kim" class="tabcontent5">
                            <h3>Unit 3</h3>
                            <a href="https://docs.google.com/document/d/1VofY5m5ueo_gLFczGGtIqTRBQ-gMjgzjph72IBVNeQ8/edit?usp=sharing" target="_blank">BCD Adder</a>
                          </div>
                          <div id="mim" class="tabcontent5">
                            <h3>Unit 4</h3>
                            <a href="https://docs.google.com/document/d/1b3lQ30byhegnRNZ6O5wEMhCOSP7xzgSvW8vJxd4RFVk/edit?usp=sharing" target="_blank">Synchronous Counter</a>
                            <br>
                            <a href="https://docs.google.com/document/d/1vtCO8x0CCXbHzas95kxEH544e5QpvMNSNXzhPTP7Vws/edit?usp=sharing" target="_blank">Asynchronous counter</a>
                          </div>
                          <div id="rim" class="tabcontent5">
                            <h3>Unit 5</h3>
                            <a href="https://docs.google.com/document/d/11-Z8NDpom0bffq3OcUq_CMna7WdRGyYJetwN-VXJ1lc/edit?usp=sharing" target="_blank">Design and implement Modulo ‘N’ counter using IC7490</a>
                          </div>
                          <div id="bim" class="tabcontent5">
                            <h3>Unit 6</h3>
                            <a href="https://drive.google.com/drive/folders/1fsm46b6kF0_yxJD8Z4QvmvCP1vbXrybz?usp=sharing" target="_blank">All Multisim files</a>
                            <p>For accessing this files you must have multisim</p>
                          </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="bcn">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="BCN"><a  class="active"><b>BCN</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab6">
                            <ul> <li><button class="tablinks6" onclick="Citiess(event, 'com')">Unit1</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'it')">Unit2</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'mech')">Unit3</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'etc')">Unit4</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'ptg')">Unit5</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'ele')">Unit6</button></li>
                             </ul>
                           </div>
                           <!-- Tab content -->
                           <div id="com" class="tabcontent6">
                            <h3>Unit 1</h3>
                           <p>Do not have any assignment.</p>
                          </div>
                          
                          <div id="it" class="tabcontent6">
                            <h3>Unit 2</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          
                          <div id="mech" class="tabcontent6">
                            <h3>Unit 3</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          <div id="etc" class="tabcontent6">
                            <h3>Unit 4</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          <div id="ptg" class="tabcontent6">
                            <h3>Unit 5</h3>
                            <p>Do not have any assignment.</p>                          
                          </div>
                          <div id="ele" class="tabcontent6">
                            <h3>Unit 6</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    
</body>
{{>footer}}
</html>
