<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester4</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   {{>header}}
    <script>
      function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citie(evt1, cityName1) {
  // Declare all variables
  var i, tabcontent1, tablinks1;

  // Get all elements with class="tabcontent" and hide them
  tabcontent1 = document.getElementsByClassName("tabcontent1");
  for (i = 0; i < tabcontent1.length; i++) {
    tabcontent1[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks1 = document.getElementsByClassName("tablinks1");
  for (i = 0; i < tablinks1.length; i++) {
    tablinks1[i].className = tablinks1[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName1).style.display = "block";
  evt1.currentTarget.className += " active";
}
function opeCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent2, tablinks2;

  // Get all elements with class="tabcontent" and hide them
  tabcontent2 = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent2.length; i++) {
    tabcontent2[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks2 = document.getElementsByClassName("tablinks2");
  for (i = 0; i < tablinks2.length; i++) {
    tablinks2[i].className = tablinks2[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
function Citi(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent3, tablinks3;

  // Get all elements with class="tabcontent" and hide them
  tabcontent3 = document.getElementsByClassName("tabcontent3");
  for (i = 0; i < tabcontent3.length; i++) {
    tabcontent3[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks3 = document.getElementsByClassName("tablinks3");
  for (i = 0; i < tablinks3.length; i++) {
    tablinks3[i].className = tablinks3[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
function City(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent4, tablinks4;

  // Get all elements with class="tabcontent" and hide them
  tabcontent4 = document.getElementsByClassName("tabcontent4");
  for (i = 0; i < tabcontent4.length; i++) {
    tabcontent4[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks4 = document.getElementsByClassName("tablinks4");
  for (i = 0; i < tablinks4.length; i++) {
    tablinks4[i].className = tablinks4[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//for tab5
function Cities(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent5, tablinks5;

  // Get all elements with class="tabcontent" and hide them
  tabcontent5 = document.getElementsByClassName("tabcontent5");
  for (i = 0; i < tabcontent5.length; i++) {
    tabcontent5[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks5 = document.getElementsByClassName("tablinks5");
  for (i = 0; i < tablinks5.length; i++) {
    tablinks5[i].className = tablinks5[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}
//
//tab 6
function Citiess(evt2, cityName2) {
  // Declare all variables
  var i, tabcontent6, tablinks6;

  // Get all elements with class="tabcontent" and hide them
  tabcontent6 = document.getElementsByClassName("tabcontent6");
  for (i = 0; i < tabcontent6.length; i++) {
    tabcontent6[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks6 = document.getElementsByClassName("tablinks6");
  for (i = 0; i < tablinks6.length; i++) {
    tablinks6[i].className = tablinks6[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName2).style.display = "block";
  evt2.currentTarget.className += " active";
}


const clc=document.querySelector(".cancel");
const arr=document.querySelector(".arr_container");
const left_container=document.querySelector(".left_container");
arr.addEventListener("click",()=>{
  arr.classList.add("active_arr");
  if(left_container.classList.contains("off")){
    left_container.classList.contains("off");
    left_container.classList.add("active");
  }
});
clc.addEventListener("click",()=>{
  arr.classList.remove("active_arr");
  if(left_container.classList.contains("active")){
    left_container.classList.remove("active");
    left_container.classList.add("off");
  }
});
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
</head>
<body class="semiv">
  <a href="sem3"class="tlc"><i class="fas fa-arrow-left fa-3x"></i></a>
    
    <table width="100%" height="275" style="background-image: url('backf.gif');" class="dm">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="DM"><a  class="active"><b>CG</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab1">
                            <ul> <li><button class="tablinks1" onclick="Citie(event, 'Kaij')">Unit1</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'latur')">Unit2</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Bhor')">Unit3</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Kalamb')">Unit4</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Bid')">Unit5</button></li>
                             <li><button class="tablinks1" onclick="Citie(event, 'Cid')">Unit6</button></li>
                             </ul>
                           </div>
                          
                           <!-- Tab content -->
                           <div id="Kaij" class="tabcontent1">
                             <h3>Unit 1</h3>
                             <a href="https://docs.google.com/document/d/1REKGmkwmIqessBNeyx88yaYmgxHnOzqg6cxQc1fqzeA/edit?usp=sharing" target="_blank">Assignment 2 DDA</a>
                             <br>
                             <a href="https://docs.google.com/document/d/11GzwivUo5wksUuFxvoBOgPK8OonvVBkiGJ3o4FsDPSM/edit?usp=sharing" target="_blank">Assignment 2 DDA</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1XfilalX12pianBHWj7s5bV6jFXIp7g0F2Ns9t8o_YHM/edit?usp=sharing" target="_blank">Assignment 2 Writeup DDA</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1hLbn4g5ofLtrzjTlUagpH1IoPH_bsSp5HCkJvi--K7g/edit?usp=sharing" target="_blank">Assignment 2</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1gWiT89H6qRLhRDHnoJh32aA_i2C6LVbyy_kxOcqzl9g/edit?usp=sharing" target="_blank">Assignment 2 Writeup</a>
                             <br>
                             
                           </div>
                           
                           <div id="latur" class="tabcontent1">
                             <h3>Unit 2</h3>
                             <a href="https://docs.google.com/document/d/1Atjknu0j0PkajZXj0rC36WULwwO20PIRJyE87qrGLso/edit?usp=sharing" target="_blank">Assignment 3 Writeup</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1TxaxfLccPooG5nVbxf9VhXA2g-c2QWQgLhRAwTvbYws/edit?usp=sharing" target="_blank">Assigment 3</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1frRIftala86YeA1CmZYiq_Exz-hgqIC-O3L-uYEFgek/edit?usp=sharing" target="_blank">Assigment 3</a>
                           </div>
                           
                           <div id="Bhor" class="tabcontent1">
                             <h3>Unit 3</h3>
                             <a href="https://docs.google.com/document/d/1C-bwj97F9A-kZN3hnpQZ7m1QdG7ODf-hMdnmR9oUkpQ/edit?usp=sharing" target="_blank">Assigment 4 Writeup</a>
                             <br>
                            <a href="https://docs.google.com/document/d/1kLRqZ6vhz14P-mwTMIDjDND2qT1cbwOT5w24K48U9fA/edit?usp=sharing" target="_blank">Assigment 4 </a>
                                                   
                           </div>
                           <div id="Kalamb" class="tabcontent1">
                             <h3>Unit 4</h3>
                             <a href="https://docs.google.com/document/d/1jUO5MgHSXMJjMzjAV-hSpg6SMVUFSniiJHF6j8xDJYw/edit?usp=sharing" target="_blank">Assignment 5 Writeup</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1RqNSsDReqb36H_rX-aVAO3Cbm3bGwEpB-OF3G2OK6H4/edit?usp=sharing" target="_blank">Assignment 5</a>
                           </div>
                           <div id="Bid" class="tabcontent1">
                             <h3>Unit 5</h3>
                             <a href="https://docs.google.com/document/d/1lFX1aQy0DuFDJ4too5FtipPOw8NqxsnowzUiBToPDLU/edit?usp=sharing" target="_blank">Assigment 6 Writeup</a>
                             <br>
                             <a href="https://docs.google.com/document/d/1Qk69-KPo6MoJhJYke8QdY0427myxvaFMX1mCzWJrNyw/edit?usp=sharing" target="_blank">Assigment 6 </a>
                           </div>
                           <div id="Cid" class="tabcontent1">
                             <h3>Unit 6</h3>
                             <p>Animation assigment is group activity so you must need to do at your own.</p>
                           </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="dsa">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="DSA"><a  class="active"><b>DBMS</b></a></td></tr>
                    <tr>
                        <td>
                            <div class="tab3">
                               <ul> <li><button class="tablinks3" onclick="Citi(event, 'Abad')">Unit1</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Obad')">Unit2</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Sgar')">Unit3</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Kgaon')">Unit4</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Kid')">Unit5</button></li>
                                <li><button class="tablinks3" onclick="Citi(event, 'Tid')">Unit6</button></li>
                                </ul>
                              </div>
                              
                              <!-- Tab content -->
                              <div id="Abad" class="tabcontent3">
                                <h3>Unit 1</h3>
                                <a href="https://docs.google.com/document/d/1JfrEUrwWhv08cKsF1ueAqnitE4NclPMn3vWXJE0NSzY/edit?usp=sharing" target="_blank">Assignment (1-3)A</a>
                                <br>
                                </div>
                              
                              <div id="Obad" class="tabcontent3">
                                <h3>Unit 2</h3>
                                <a href="https://docs.google.com/document/d/1k80qWQwaOlX51KqJEUjn0KDnx5BZMHjDtQH-zpRxBC0/edit?usp=sharing" target="_blank">Assignment 1-B code</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1wwKUgbgHreltFlZotPEgoY9Pm2UvndMIjU-aAsdORBs/edit?usp=sharing" target="_blank"> Assignment 2-B</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1zHS4wbF1pugrdU9vSrk5An6n7K_xfEL0f48jriT_gsY/edit?usp=sharing" target="_blank"> Assgnment 2-B Writeup</a>
                                
                              </div>
                              
                              <div id="Sgar" class="tabcontent3">
                                <h3>Unit 3</h3>
                                <a href="https://docs.google.com/document/d/1ixT9hmZFvCkoCR1LE3qb7Y3cd3vdUoW_wg221VgnvEg/edit?usp=sharing" target="_blank">Assignment 3-B</a>
                                <br>
                        
                              </div>
                              <div id="Kgaon" class="tabcontent3">
                                <h3>Unit 4</h3>
                                <a href="https://docs.google.com/document/d/1tlwOLQezxy-n3vcTc7Dno3EzE4JuzhiFsbq6h1Spv6Y/edit?usp=sharing" target="_blank">Assignment 4-B Writeup</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1AHZQHv-gpvNZloVwg5qrG8o-AcmKSFc3xqIgNkKSI7A/edit?usp=sharing" taret="_blank">Assigment 4-B</a>
                                <br>                                
                              </div>
                              <div id="Kid" class="tabcontent3">
                                <h3>Unit 5</h3>
                                <a href="https://docs.google.com/document/d/1kuozO9aaOZQhwIBYDu5XQOOLUJqT8iqnoINVGeL_dWA/edit?usp=sharing" target="_blank">Assignment 5-B</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1cZ4Cz1Q2_0o11NQrWJdcRNaksYsKHigO2NqMq3OQBdM/edit?usp=sharing" target="_blank">Part B assignments writeup</a>
  
                                </div>
                              <div id="Tid" class="tabcontent3">
                                <h3>Unit 6</h3>
                                <a href="https://docs.google.com/document/d/11ql30imSDjaf8XwrJgOX2tutinEoijYV6yt9UWSJDWQ/edit?usp=sharing" target="_blank">Assignment 1C Writeup </a>
                                <br>
                                <a href="https://docs.google.com/document/d/1f3LzrRf4fRLB6kjBncJ_nJEx2B_dM3mg-GUKvgIc1Bk/edit?usp=sharing" target="_blank">Assignment 1</a>
                                <br>
                                <a href="https://docs.google.com/document/d/1ybq__PsvEhxnVSpZSB17c6jzYv3lQ_rDKVEx6nI2w4k/edit?usp=sharing" target="_blank">Assignment 2C Writeup </a>
                                <br>
                                <a href="https://docs.google.com/document/d/1FxuvmMu6bIvybvBlfH7JCPu8gX-rxfZqBZfe0K4BwEY/edit?usp=sharing" target="_blank">Assignment 2C </a>
                                <br>
                                <a href="https://docs.google.com/document/d/1s38YRt0YfK1XZB1IYA3m9did2sA9r5gjkjE6umArMBs/edit?usp=sharing" target="_blank">Assignment 3C Writeup </a>
                                <br>
                                <a href="https://docs.google.com/document/d/1BPDq7GIfK0ZxLZzhCao7_jgIQ8LSjLBb_do4ckBv5Fs/edit?usp=sharing" target="_blank">Assignment 3C </a>
                                
                              </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('back3.gif');" class="oop">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="OOP"><a  class="active"><b>PSDL</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab4">
                            <ul> <li><button class="tablinks4" onclick="City(event, 'sem')">Unit1</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'chem')">Unit2</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'phy')">Unit3</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'math')">Unit4</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'sme')">Unit5</button></li>
                             <li><button class="tablinks4" onclick="City(event, 'em')">Unit6</button></li>
                             </ul>
                           </div>
                            <!-- Tab content -->
                            <div id="sem" class="tabcontent4">
                              <h3>Unit 1</h3>
                              <a href="https://docs.google.com/document/d/1Hj09R4PNMaWmIwSl3gAWqi475jjSli55d56zUR7GLYA/edit?usp=sharing" target="_blank">Assignment 1 </a>
                            </div>
                            
                            <div id="chem" class="tabcontent4">
                              <h3>Unit 2</h3>
                              <a href="https://docs.google.com/document/d/1NER0aF7BmQXLWv9Xezmx119rdOR78TOVwacc-Dvj06g/edit?usp=sharing" target="_blank">Assignment 2</a>
                              <br>
                             </div>
                            
                            <div id="phy" class="tabcontent4">
                              <h3>Unit 3</h3>
                              <a href="https://docs.google.com/document/d/1i3DtIEZBpPIIuT-QB0NvvI6SN--8WwW5juPuPVVzsZk/edit?usp=sharing" target="_blank">Assignment 3.1</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1MfQPie8wA1y-G75muI7A0PZ89RtpIt-T0mvl7nS89N0/edit?usp=sharing" target="_blank">Assignment 3.2</a>
                              <br>
                              <a href="https://docs.google.com/document/d/17GaWuab8mEwtHwh2pu9dDo7lXdj0iOu4HxQR4PDadXA/edit?usp=sharing" target="_blank">Assignment 3.3</a>
                              <br>
                              <a href="https://docs.google.com/document/d/1Cmk_lyX8LWYIeLyWaT4LVtX1zwvsUAZtjlrPrrMS2Xc/edit?usp=sharing" target="_blank">Assignment 3.4 </a>
                              <br>
                              <a href="https://docs.google.com/document/d/1O2ZwdmykcV0IrltwGv8-Qdpgs-ki55JN1eBcL4ZUdIA/edit?usp=sharing" target="_blank">Assignment 3.5 </a>
                             
                                                         
                            </div>
                            <div id="math" class="tabcontent4">
                              <h3>Unit 4</h3>
                              <a href="https://docs.google.com/document/d/1ZsGkqKQocLqlGggp39yFJAcAjooQnKM-MiWPgz1nPII/edit?usp=sharingg" target="_blank">Assignment 4 </a>
                             </div>
                            <div id="sme" class="tabcontent4">
                              <h3>Unit 5</h3>
                             
                              <a href="https://docs.google.com/document/d/1fqL-CPiB5oPEydYOnv-WWSXhMEotlXt_x5EnmL9VsxU/edit?usp=sharing" target="_blank">Assignment 5</a>
                              <br>
                            </div>
                            <div id="em" class="tabcontent4">
                              <h3>Unit 6</h3>
                              <a href="https://docs.google.com/document/d/1GxI7MmW2rJJHHIGN_RaKFe4aBrNxnaBQQ9D5K-87bOA/edit?usp=sharing" target="_blank">Assignment 6</a>
                              <br>
                            </div>
                        
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>                
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="ldco">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="LDCO"><a  class="active"><b>M3</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab5">
                            <ul> <li><button class="tablinks5" onclick="Cities(event, 'sim')">Unit1</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'dim')">Unit2</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'kim')">Unit3</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'mim')">Unit4</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'rim')">Unit5</button></li>
                             <li><button class="tablinks5" onclick="Cities(event, 'bim')">Unit6</button></li>
                             </ul>
                           </div>
                           <!-- Tab content -->
                           <div id="sim" class="tabcontent5">
                            <h3>Unit 1</h3>
                            <a href="https://docs.google.com/document/d/1LaX1X7Zq4NJ-D10LXBsxwJYJ-tgcmbSchhzvb0iVDNg/edit?usp=sharing" target="_blank">Code Converter Assignment</a>
                            <br>
                          </div>
                          
                          <div id="dim" class="tabcontent5">
                            <h3>Unit 2</h3>
                            <a href="https://docs.google.com/document/d/1MGOaKSsJPcTAxwAtqEkL9iSOO5zaKE67h44NNh3tfY8/edit?usp=sharing" target="_blank">Multiplexer Assignment</a>
                            <br>
                            <a href="https://docs.google.com/document/d/1hAMvZRzdIH962J9s2V9niwfaTr7CO1PAFDPbdR9s-AE/edit?usp=sharing" target="_blank">Demultiplexer Assigment</a>
                          </div>
                          
                          <div id="kim" class="tabcontent5">
                            <h3>Unit 3</h3>
                            <a href="https://docs.google.com/document/d/1VofY5m5ueo_gLFczGGtIqTRBQ-gMjgzjph72IBVNeQ8/edit?usp=sharing" target="_blank">BCD Adder</a>
                          </div>
                          <div id="mim" class="tabcontent5">
                            <h3>Unit 4</h3>
                            <a href="https://docs.google.com/document/d/1b3lQ30byhegnRNZ6O5wEMhCOSP7xzgSvW8vJxd4RFVk/edit?usp=sharing" target="_blank">Synchronous Counter</a>
                            <br>
                            <a href="https://docs.google.com/document/d/1vtCO8x0CCXbHzas95kxEH544e5QpvMNSNXzhPTP7Vws/edit?usp=sharing" target="_blank">Asynchronous counter</a>
                          </div>
                          <div id="rim" class="tabcontent5">
                            <h3>Unit 5</h3>
                            <a href="https://docs.google.com/document/d/11-Z8NDpom0bffq3OcUq_CMna7WdRGyYJetwN-VXJ1lc/edit?usp=sharing" target="_blank">Design and implement Modulo ‘N’ counter using IC7490</a>
                          </div>
                          <div id="bim" class="tabcontent5">
                            <h3>Unit 6</h3>
                            <a href="https://drive.google.com/drive/folders/1fsm46b6kF0_yxJD8Z4QvmvCP1vbXrybz?usp=sharing" target="_blank">All Multisim files</a>
                            <p>For accessing this files you must have multisim</p>
                          </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    <table width="100%" height="275" style="background-image: url('backf2.gif');" class="bcn">
        <tr>
            <td height="72" allign="center" valign="top">
                <table width="100%" height=100% border="0" bordercolor="##cccccc" cellspacing="0" cellpadding="8" >
                    <tr><td colspan="2" id="BCN"><a  class="active"><b>SE</b></a></td></tr>
                    <tr>
                        <td>
                          <div class="tab6">
                            <ul> <li><button class="tablinks6" onclick="Citiess(event, 'com')">Unit1</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'it')">Unit2</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'mech')">Unit3</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'etc')">Unit4</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'ptg')">Unit5</button></li>
                             <li><button class="tablinks6" onclick="Citiess(event, 'ele')">Unit6</button></li>
                             </ul>
                           </div>
                           <!-- Tab content -->
                           <div id="com" class="tabcontent6">
                            <h3>Unit 1</h3>
                           <p>Do not have any assignment.</p>
                          </div>
                          
                          <div id="it" class="tabcontent6">
                            <h3>Unit 2</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          
                          <div id="mech" class="tabcontent6">
                            <h3>Unit 3</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          <div id="etc" class="tabcontent6">
                            <h3>Unit 4</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                          <div id="ptg" class="tabcontent6">
                            <h3>Unit 5</h3>
                            <p>Do not have any assignment.</p>                          
                          </div>
                          <div id="ele" class="tabcontent6">
                            <h3>Unit 6</h3>
                            <p>Do not have any assignment.</p>
                          </div>
                        </td>
                    </tr>
                    </table>
            </td>
        </tr>
    </table>
    
</body>
{{>footer}}
</html>
